.widgetLarge {
  flex: 2;
  padding: 20px;

  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.widgetLargeTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLargeImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLargeButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLargeButton.Approved {
  background-color: #e5faf2;
  color: #3bb077;
}

.widgetLargeButton.Declined {
  background-color: #fff0f1;
  color: #d95087;
}

.widgetLargeButton.Pending {
  background-color: #ebf1fe;
  color: #2a7ade;
}

.widgetLargeTable {
  width: 100%;
  border-spacing: 20px;
  /* border: 1px solid black; */
}

.widgetLargeTableHeaderLeft {
  text-align: left;
  /* border: 1px solid black; */
}

.widgetLargeTableHeader {
  text-align: center;
  /* border: 1px solid black; */
}

.widgetLargeCompany {
  display: flex;
  align-items: center;
  font-weight: 600;
  /* border: 1px solid black; */
}

.widgetLargeDate,
.widgetLargeAmount,
.widgetLargeCity {
  font-weight: 300;
  /* border: 1px solid black; */
}
