.companyList {
  flex: 5;
}

.companyListElement {
  display: flex;
  align-items: center;
}

.companyListImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.companyListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.companyListDelete {
  color: red;
  cursor: pointer;
}

.companyListBan {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #dd1616;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.companyListUnban {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.companyListDelete {
}
.companyListTableCentered {
  margin: auto;
  display: block;
  /* width: 80px; */
  /* text-align: center; */
}
